@import '~@angular/material/theming/';

$primaryPaletteVar: mat-palette($mat-deep-purple);
$accentPaletteVar: mat-palette($mat-amber, A200, A100, A400);
$backgroundPaletteVar: mat-palette($mat-blue);

$primaryColor: mat-color($primaryPaletteVar);
$accentColor: mat-color($accentPaletteVar);
$backgroundColor: mat-color($backgroundPaletteVar);
