<div fxLayout="row" fxLayoutGap="20px">
  <div fxLayout="column" fxLayoutAlign="center" fxFlex="80%">
    <div class="mat-h3">{{title.description}}</div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="5px">
    <div class="mat-caption" *ngIf="title.release_year"><span>Released:</span> {{title.release_year}} </div>
    <div class="mat-caption" *ngIf="title.rating"><span>Rating:</span> {{title.rating}} </div>
    <div class="mat-caption" *ngIf="title.cast"><span>Cast:</span> {{title.cast}} </div>
    <div class="mat-caption" *ngIf="title.listed_in"><span>Genres:</span> {{title.listed_in}} </div>
  </div>
</div>
